<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JavaReads Cafe</title>
    <link rel="stylesheet" href="/public/CSS/stylesheet.css">
</head>

<body>
    <header>
        <h1>JavaReads Cafe</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>