<h1>EMPLOYEE PROFILE</h1>

<ul>
    <li>
        <a href = "/menu/addToMenu">Add to menu</a>
    </li>
    <li>
        <a href="/menu"> View Menu</a>
    </li>
    <li>
        <a href = "/logout">Logout</a>
    </li>
</ul>


