<h1>EMPLOYEE PROFILE</h1>
<h3>Hello, {{firstName}} {{lastName}}</h3>

<ul class="profileList">
    <li class="listItem">
        <a href="/menu/addToMenu">Add to menu</a>
    </li>
    <li class="listItem">
        <a href="/catalog/addToCatalog">Add to catalog</a>
    </li>
    <li class="listItem">
        <a href="/menu"> View Menu</a>
    </li>
    <li class="listItem">
        <a href="/catalog"> View Catalog</a>
    </li>
    <li class = "listItem">
        <a href="/favorites">View Favorites</a>
    </li>
    <li class="listItem">
        <a href="/seats">Manage Reservations</a>
    </li>
    <li class = "listItem">
        <a href="/drinkorders">View Customer Orders</a>
    </li>
    <li class="listItem">
        <a href="/logout">Logout</a>
    </li>
</ul>
