<div class="homepage">
	<div class="homepageInfo">
		<h3>Welcome to JavaReads Cafe!</h3>
		<p class="homepage_intro">
			Welcome to JavaReads-Cafe, a Hoboken located coffee-shop where users can purchase various types of coffee,
			pastries,
			and smoothies. Before ordering, users have the option of reserving seats in the restaurant for a block of
			time.
			Users can also like or dislike, and write reviews for products being offered at the cafe.
		</p>
		<p class="homepage_intro">On top of selling coffee to customers, JavaReads-Cafe has the unique twist of hosting
			a reading community, where users can browse through the cafe's book catalog online and read them at the
			cafe.
			Just like the food/drinks, users can write reviews of books that are part of the cafe's book catalog on the
			website. JavaReads-Cafe's web application will deliver a platform that allows for quick and easy purchases,
			while at
			the same time bringing together readers within the Hoboken community. Customers can walk in or out, or stay
			and enjoy
			seating within the cafe, making JavaReads-Cafe a place for every type of coffee enthusiast.</p>

		<div id="homepage_pics" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="../../public/images/bookCafe.jpeg" alt="cafeBooks">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../../public/images/cafe.jpeg" alt="cafe">
				</div>
			</div>
		</div>
	</div>

	<div class="loginComponent">
		<h2>Login</h2>
		{{#if error}}
		<div class="Error"> ERROR: {{error}}</div>
		{{/if}}
		<form method="POST" action="/homepage" id="login-form">
			<label id="email_label" for="email" class="input">
				Email:
				<input name="email" id="email" placeholder="Your email..." />
			</label>

			<label id="password_label" for="password" class="input">
				Password:
				<input name="password" type="password" id="password" placeholder="Your password..." />
			</label>

			<button type="submit">Submit</button>
		</form>
		<a href="/signUp">Need to register? Click here to sign-up</a>
	</div>

</div>