<h1>Name: {{firstName}} {{lastName}}</h1>

<ul>
    <li>
        <a href="/menu"> View Menu</a>
    </li>
    <li>
        <a href="/catalog"> View Catalog</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
    <li>
        <a href="/seats">Make a Reservation</a>
    </li>
</ul>