<h3>Hello, {{firstName}} {{lastName}}</h3>

<ul class="profileList">
    <li class="listItem">
        <a href="/menu"> View Menu</a>
    </li>
    <li class="listItem">
        <a href="/catalog"> View Catalog</a>
    </li>
    <li class="listItem">
        <a href="/seats">Make a Reservation</a>
    </li>
        <li class = "listItem">
        <a href="/favorites">View Favorites</a>
    </li>
    <li class="listItem">
        <a href="/logout">Logout</a>
    </li>
</ul>