{{#if success}}
<div class="Success"> {{success}} </div>
{{/if}}
{{#if error}}
<div class="Error"> ERROR: {{error}}</div>
{{/if}}

<form method="POST" action="/menu/addToMenu" id="addToMenuForm">
	<label id = "itemName_label" for="itemName">
        Item Name:
        <input name="itemName" type="text" id="itemName"/>
    </label>
    <label id = "price_label" for="price">
        Price:
        <input name="price" type="text" id="price"/>
    </label>
    <label id = "image_label" for="image">
        Image URL:
        <input name="image" type="text" id="image"/>
    </label>
	<button type="submit">Submit</button>
</form>

<a href="/employeeProfile">Back to Employee Profile</a>